{% extends 'base.html' %}

{% load static %}

{% block header %}
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-nav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse dual-nav w-50 order-1 order-md-0">
            <ul class="navbar-nav left-side">
                <li class="nav-item">
                    <a class="nav-link pl-0" href="{%  url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about_us' %}">About us</a>
                </li>
                <li class="nav-item">
                <a  class="nav-link" href="{% url 'products' %}">Shop</a>
                </li>
                <li class="nav-item">
                <a  class="nav-link" href="{% url 'trainers' %}">Trainers</a>
                </li>
                <li class="nav-item">
                <a  class="nav-link" href="{% url 'profile' %}">Profile</a>
                </li>
            </ul>
        </div>
        <a href="/" class="navbar-brand mx-auto d-block text-center order-0 order-md-1 w-25 brand-logo">CIRCUIT X</a>
        <div class="navbar-collapse collapse dual-nav w-50 order-2 navbar-right-side">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item nav-button-sign-in-up"><a class="nav-link" href="{% url 'signin' %}">Sign in</a></li>
                <li class="nav-item nav-button-sign-in-up"><a class="nav-link" href="{% url 'sign_up' %}">Sign up</a></li>
            </ul>
        </div>
{% endblock %}


{% block page %}
<section class="main-content-home">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <h2>WELCOME TO THE START OF YOUR CLIMB TO BECOMING A BEAST OF AN ATHLETE</h2><br>
                <h2>CIRCUIT X IS FOR YOU AND FOR THE BEAST IN YOU</h2><br>
                <h2>SIGN UP, CHOOSE YOUR TRAINER &amp; LETS GET DOWN TO BUSINESS</h2><br>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row py-5">
            <div class="col-12 text-center">
                <h2>Personal Trainers</h2>
            </div>
        </div>
        <div class="card-deck">
            <div class="card">
                <img src="/static/media/yin.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Yin</h5>
                    <p class="card-text">Excellent Pilates and kettle balls specialist 
                        with 7 years experience. She runs morning sessions and late evening sessions. Check out her profile to see pricing and schedule some time with her. </p>
                </div>
            </div>
            <div class="card">
                <img src="/static/media/kim.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Kim</h5>
                    <p class="card-text">Kim is tough but fair and a result getter!! Her focus is on core workouts. 
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card">
                {% load static %}
                <img src="/static/media/Nina.JPG" alt="Nina">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional
                        content. This card has even longer content than the first to show that equal height action.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
        <div class="row py-5">
            <div class="col-12 text-center">
                <a class="btn btn-dark w-100" href="{% url 'trainers' %}">View all</a> <!---Link to the full trainers page--->
            </div>
        </div>
    </div>
</section>
{% endblock %}

