{% extends 'base.html' %}
{% load static %}



{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                                 {% if trainer.image %}
                                    <a href="{{ trainer.image.url }}" target="_blank">
                                        <img class="card-img-top img-fluid" src="{{ trainer.image.url }}" alt="{{ trainer.name }}">
                                    </a>
                                    {% else %}
                                    <a href="">
                                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.jpg" alt="{{ trainer.name }}">
                                    </a>
                                    {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
                 <div class="trainer-details-container mb-5 mt-md-5">
                    <p class="mb-0">{{ trainer.name }}</p>
                    <p class="lead mb-0 text-left font-weight-bold">${{ trainer.price_per_hour }}</p>
                    <p class="mt-3">{{ trainer.description }}</p>
                    <form class="form" action="{% url 'add_to_bag' trainer.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                             <div class="col-12">
                                <p class="mt-3"><strong>Sessions</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ trainer.id }}" id="id_qty_{{ trainer.id }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <a href="{% url 'trainers' %}" class="btn btn-outline-black rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Add more training?</span>
                                </a>
                                <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Bag">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>           
        </div>
    </div>   
</div>
{% endblock %}

