{% extends 'base.html' %}

{% load static %}

{% block header %}
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-nav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse dual-nav w-50 order-1 order-md-0">
            <ul class="navbar-nav left-side">
                <li class="nav-item">
                    <a class="nav-link pl-0" href="{%  url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about_us' %}">About us</a>
                </li>
                <li class="nav-item">
                <a  class="nav-link" href="{% url 'products' %}">Shop</a>
                </li>
                <li class="nav-item">
                <a  class="nav-link" href="{% url 'trainers' %}">Trainers</a>
                </li>  
            </ul>
        </div>
        <a href="/" class="navbar-brand mx-auto d-block text-center order-0 order-md-1 w-25 brand-logo">CIRCUIT X</a>
        <div class="navbar-collapse collapse dual-nav w-50 order-2 navbar-right-side">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item nav-button-sign-in-up"><a class="nav-link" href="{% url 'signin' %}">Sign in</a></li>
                <li class="nav-item nav-button-sign-in-up"><a class="nav-link" href="{% url 'sign_up' %}">Sign up</a></li>
            </ul>
        </div>
{% endblock %}


{% block page %}
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">Circuit-X PTs</h5>
        <div class="row">
            {% for trainer in trainers %}
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    {% if trainer.image %}
                                    <a href="{% url 'trainer_detail' trainer_id %}" class="btn btn-primary btn-sm">
                                    <img class=" img-fluid" src="{{ trainer.image.url }}" alt="{{ trainer.name }}">
                                    </a>
                                    {% else %}
                                    <a href="{% url 'trainer_detail' trainer_id %}" class="btn btn-primary btn-sm">
                                    <p><img class=" img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ trainer.name }}"></p>
                                    </a>
                                    {% endif %}
                                    <h4 class="card-title">{{ trainer.name }}</h4>
                                    <p class="card-text">.</p>
                                </div>
                            </div>
                        </div>

                        <!--BACK SIDE OF CARD-->
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">{{ trainer.types }}</h4>
                                    <p class="card-text">{{ trainer.description }}</p>
                                    <h5 class="card-text">{{ trainer.price_per_hour }}</h5>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.instagram.com">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
            <!-- ./Team member -->

        </div>
    </div>
</section>

{% endblock %}

