.nav-button-sign-in-up {
    margin-right: 10px;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: black;
}

.nav-button-sign-in-up a {
    color: white !important;
}

.left-side a {
    color: black !important;
    font-size: 19px !important;
    font-weight: bold !important;
}

.brand-logo {
    font-weight: bold !important;
    font-size: 30px !important;
}

/*Home*/
.main-content-home {
    min-height: 100vh;
    background-image: url(../media/Athelete_bacground.jpg);
    background-repeat: no-repeat;
    background: cover;
    color: white;
    padding-top: 30vh;
    text-align: left;
    padding-bottom: 20px;
}

.main-content-home {
    background-color: black;
}




.main-content-about-us {
    min-height: 100vh;
    background-image: url(../media/aboutusback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-top: 50px;
    text-align: center;
    padding-bottom: 20px;
}

.main-content-about-us input, textarea {
    background-color: white !important;
}

.main-content-about-us button {
    background-color: white;
    color: black;
}

.main-content-signup {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/runing.jpg);
    background-size: cover;
    color: white;
    padding-top: 20vh;
    text-align: left;
    padding-bottom:20px;
   
}

.main-content-signup input {
    background-color: rgb(255, 255, 255) !important;
}

.main-content-signup button {
    background-color: white;
    color: black;
}

.main-content-signin {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/aboutusback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-top: 20vh;
    text-align: left;
    padding-bottom: 20px;
    
}

.main-content-signin input {
    background-color: white !important;
}

.main-content-signin button {
    background-color: white;
    color: black;
}

/*PROFILE*/

.shadow {
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}
.btn-danger {
    color: #fff;
    background-color: #f00000;
    border-color: #dc281e;
}
.masthead {
    background: black;
    height: auto;
    padding-bottom: 15px;
    box-shadow: 0 16px 48px #E3E7EB;
    padding-top: 10px;
}
.head_text {
    color: white;
}
    
.card {
    box-shadow: 0 16px 48px #E3E7EB;
}


.main-content-profile{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-top: 20vh;
    text-align: center;
    padding-bottom: 20px;
}
.profile-content-item{
    margin-top:20vh;
    padding-top:20px;
    background-color: black;
    color:black;
    margin-left:30px;
    margin-right: 30px;

}
.profile-content-item textarea {
    background-color: #c4b6bc!important;
}
.p.help-block{
    color:red!important;
}
.signin-error-message{
    border:1px solid red!important;
}
/*SHOP*/
.main-content-shop {
    min-height: 100vh;
    background-color: black;
    background-repeat: no-repeat;
    color: white;
    padding-top: 50px;
    text-align: center;
    padding-bottom: 20px;
}
.container-shop {
    padding-top: 56px;
    background-color: black;
}

/*products.html*/

.overlay {
    height:100%;
    width:100%;
    top:0;
    left:0;
    position: fixed;
    background: white;
    z-index: -1;
}

/*TRAINERS PAGE*/

#team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #131615;
    border-color: #1d2221;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #0c0e0d;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #0d0f0f;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #171a19;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}