{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>CIRCUIT X</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-light navbar-expand-md justify-content-between">
    <div class="container-fluid">
       {% block header %}
       {% endblock %}
    </div>
</nav>
<div class="main-page">
 {% block page %}
 {% endblock %}
</div>
</body>
</html>
